<section id="how-its-made" class="advantages-section">
  <div class="advantages-container">
    <!-- Заголовок -->
    <p class="advantages-lable">tradition and love</p>
    <h2 class="advantages-title">how it’s made?</h2>
    <!-- Фотографія та опис переваг продукту -->
    <div class="adv-container">
      <div class="img-container">
        <div class="circle">
          <img
            src="./images/cow/cow-desktop-min.png"
            srcset="
              ./images/cow/cow-desktop-min.png    1x,
              ./images/cow/cow-desktop@2x-min.png 2x,
              ./images/cow/cow-mobile-min.png     1x,
              ./images/cow/cow-mobile@2x-min.png  2x,
              ./images/cow/cow-tablet-min.png     1x,
              ./images/cow/cow-tablet@2x-min.png  2x
            "
            alt="image of the cow"
            class="imgs"
          />
        </div>
      </div>

      <div class="desc-container">
        <p class="desc-item desc-item-first">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="desc-item">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="desc-item last-item">
          This is enough to choose ice cream and coffee for any mood!
        </p>

        <button type="button" class="read-btn button" adv-modal-open>
          Read more
          <svg class="arrow-icon" width="12" height="12">
            <use href="./images/Icons.svg#icon-ep_arrow-right-bold"></use>
          </svg>
        </button>
        <div class="backdrop is-hidden" adv-modal>
          <div class="modal-readmore">
            <button class="close-button-readmore" adv-modal-close>
              <svg class="close-icon-readmore">
                <use href="./images/Icons.svg#icon-cross"></use>
              </svg>
            </button>
            <h3 class="title-readmore">How it’s made?</h3>
            <iframe
              class="video"
              width="224"
              height="199"
              src="https://www.youtube.com/embed/_6yaRG4XVc8"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
            <p class="discription-readmore">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et
            </p>
          </div>
        </div>
      </div>
    </div>

    <h1 class="data-heading visually-hidden">Advantages</h1>
    <ul class="advantages-sub-info list">
      <li class="data-list">
        <p class="p-digit-data">721</p>
        <p class="p-desc p-desc-first">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="data-list">
        <p class="p-digit-data">16kg</p>
        <p class="p-desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="data-list">
        <p class="p-digit-data">84</p>
        <p class="p-desc p-desc-last">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
