<div class="footer-main footer-container">
    <!--Titles -->
    <div class="footer-titles">
        <p class="footer-title">homemade ice cream made</p>
        <p class="footer-tagline">with passion</p>
    </div>
    <!-- Contacts -->
    <div class="footer-contact">
        <!-- Social media -->
        <ul class="footer-social list">
            <li class="footer-item-logo">
                <a href="https://github.com/Korkin-97/Ice-cream-12" target="_blank" class="footer-link-logo link">
                    <svg class="footer-logo" width="20" height="20">
                        <use href="./images/Icons.svg#icon-Vector"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-item-logo">
                <a href="https://telegram.org" target="_blank" class="footer-link-logo link">
                    <svg class="footer-logo" width="20" height="20">
                        <use href="./images/Icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-item-logo">
                <a href="https://www.facebook.com/" target="_blank" class="footer-link-logo link">
                    <svg class="footer-logo" width="20" height="20">
                        <use href="./images/Icons.svg#icon-Facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <!-- Telephone -->
        <div class="footer-telephone">
            <p class="footer-telephone-text">Feel free to contact
                <a href="tel:+610383766284" class="footer-telephone-link link">+61 (0) 383 766 284
                </a>
            </p>
        </div>
    </div>
</div>
<!-- Copyright -->
<div class="footer-copyright container-copyright">
    <p class="footer-underline">&copy; 2022 - IceCream.</p> 
    <p class="footer-underline-auth">All Rights Reserved.</p>
</div>