









<section class="gallery gallery-backraund-images">
    <h2 class="visually-hidden">Gallery reviews</h2>
    <div class="swiper mySwiper gallery-position">
        <div class="swiper-wrapper">
            <div class="gallery-div-main swiper-slide gallery-container">
                <img 
                    srcset="./images/response/response-1.jpg 1x, ./images/response/response-1@2x.jpg 2x" 
                    class="gallery-img-main" 
                    src="./images/response/response-1.jpg" 
                    alt="#">
                <div class="gallery-div-responsible">
                        <img 
                        srcset="./images/response/person-1-min.png 1x, ./images/response/person-1@2x-min.png 2x" 
                        class="gallery-img-person" 
                        src="./images/response/person-1-min.png" 
                        alt="#">
                    <div class="gallery-div-reviws">
                        <p class="gallery-reviews-text">
                            I love visiting your cafe.
                            You prepare the most delicious ice cream in Los Angeles! 
                            In addition, you have beautiful serving, cozy atmosphere and polite staff.
                        </p>
                    </div>
                    <p class="gallery-name-country">
                        Emily, Los Angeles
                    </p>
                </div>
            </div>
            <div class="gallery-div-main swiper-slide gallery-container">
                <img 
                    srcset="./images/response/response-2.jpg 1x, ./images/response/response-2@2x.jpg 2x" 
                    class="gallery-img-main" 
                    src="./images/response/response-2.jpg" 
                    alt="#">
                <div class="gallery-div-responsible">
                    <img 
                    srcset="./images/response/person-2-min.png 1x, ./images/response/person-2@2x-min.png 2x" 
                    class="gallery-img-person" 
                    src="./images/response/person-2-min.png" 
                    alt="#">
                <div class="gallery-div-reviws">
                    <p class="gallery-reviews-text ">
                        Every day we come to you with friends after classes in college.
                        We love your ice cream and casual atmosphere!
                    </p>
                </div>
                <p class="gallery-name-country">
                    Bryan, New-York
                </p>
                </div>
            </div>
            <div class="gallery-div-main swiper-slide gallery-container">
                <img 
                    srcset="./images/response/response-3.jpg 1x, ./images/response/response-3@2x.jpg 2x" 
                    class="gallery-img-main" 
                    src="./images/response/response-3.jpg" 
                    alt="#">
                    <div class="gallery-div-responsible">
                        <img 
                        srcset="./images/response/person-3-min.png 1x, ./images/response/person-3@2x-min.png 2x" 
                        class="gallery-img-person" 
                        src="./images/response/person-3-min.png" 
                        alt="#">
                        <div class="gallery-div-reviws">
                            <p class="gallery-reviews-text">
                                Ice cream is my passion!
                                I love your chocolate hazelnut ice cream!
                                And I really like the excellent service - always served politely and quickly!
                            </p>
                        </div>
                    <p class="gallery-name-country">
                        Diana, Chicago
                    </p>
                    </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        </div>
    </section>