<header class="header">
  <div class="container-header">
    <div class="site-logo">
      <a href="./index.html" class="header-logo link">
        <svg class="header-svg-logo">
          <use href="./images/Icons.svg#icon-Logo"></use>
        </svg>
        <p class="logo-text">ce</p>
      </a>
    </div>

    <div class="header-buttons">
      <button class="header-burger burger-btn" data-menu-open>
        <svg class="icon-burger" width="32" height="32">
          <use href="./images/Icons.svg#icon-eva_menu-fill"></use>
        </svg>
      </button>
  
      <button type="button" class="header-btn-tablet button">
        Buy now
        <svg class="header-decoration-btn" width="12" height="12">
          <use href="./images/Icons.svg#icon-ep_arrow-right-bold"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu" data-menu>
      <div class="header-mobile-menu">
        <div class="menu-logo">
          <a href="./index.html" class="header-logo link">
            <svg class="header-svg-logo">
              <use href="./images/Icons.svg#icon-Logo"></use>
            </svg>
            <p class="logo-text">ce</p>
          </a>
          <button class="close-button-menu" type="button" data-menu-close>
            <svg class="close-menu-icon" width="32" height="32">
              <use href="./images/Icons.svg#icon-clarity_close-line"></use>
            </svg>
          </button>
        </div>
        <div class="menu-container">
            <div class="header-title">
              <nav class="header-site-nav">
                <ul class="header-list list">
                  <li class="nav-item">
                    <a class="link" href="./index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="link" href="#how-its-made">How it’s made?</a>
                  </li>
                  <li class="nav-item">
                    <a class="link" href="#our-products">Our products</a>
                  </li>
                  <li class="nav-item">
                    <a class="link" href="#contacts">Contact</a>
                  </li>
                </ul>
              </nav>
              <button type="button" class="header-btn button">
                Buy now
                <svg class="header-decoration-btn" width="12" height="12">
                  <use href="./images/Icons.svg#icon-ep_arrow-right-bold"></use>
                </svg>
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</header>
