<section class="hero-section">
  <div class="container">
    <div class="hero-div-top">
      <div class="hero-div">
        <div class="hero-div-item">
          <h1 class="hero-title">ICE CREAM MADE WITH PASSION</h1>
          <a href="#our-products" class="hero-a-product button">Products</a>
          <a href="#how-its-made" class="hero-a-made">How it’s made?</a>
        </div>
        <ul class="hero-ul">
          <li class="hero-li cafes">
            <p class="hero-numbers">16</p>
            cafes
          </li>
          <li class="hero-li trucks">
            <p class="hero-numbers">23</p>
            food trucks
          </li>
        </ul>
      </div>
    </div>
    <div class="hero-div-bottom">
      <div class="hero-div-slider"></div>
      <div class="hero-tumb">
        <p class="hero-slider-text js-container is-open">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button
          class="hero-btn-arrow button js-open"
          aria-expanded="true"
          aria-label="Всплывающий текст"
        >
          <svg height="16px" width="46px" class="hero-svg-arrow">
            <use href="./images/Icons.svg#icon-Arrow"></use>
          </svg>
        </button>
      </div>
      <div class="hero-div-img"></div>
      <div class="hero-div-dots"></div>
    </div>
  </div>
</section>

<script href="./index.js"></script>
