.advantages-container {
  width: 280px;

  margin: 0 auto;
  padding: 60px 20px 32px;
}

.advantages-lable {
  margin: 0 auto;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;

  text-align: center;
  text-transform: uppercase;
}

.advantages-title {
  width: 200px;

  margin: 0 auto;
  margin-bottom: 32px;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;

  text-align: center;
  text-transform: uppercase;
}

.circle {
  width: 279px;
  height: 279px;

  margin: 0 auto;
  margin-bottom: 62px;
  z-index: 2;

  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
}

.imgs {
  width: 279px;
  height: 279px;

  position: relative;
  z-index: 3;

  top: 22px;

  margin: 0 auto;
  border-radius: 50%;
}

.desc-item {
  width: 220px;
  margin-bottom: 4px;

  text-align: center;
  margin-right: auto;
  margin-left: auto;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.58;
}

.last-item {
  margin-bottom: 24px;
}

.desc-item:not(:first-child) {
  letter-spacing: 0;
  line-height: 1.75;
}

.read-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  margin-bottom: 50px;

  width: 164px;
  height: 42px;
  border-radius: 10px;

  background: var(--accent);
  border: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--primary-black-color);
}
.read-btn:hover {
  background-color: #0A8817;
}
.read-btn:focus {
  background-color: #0A8817;
  color: var(--primary-white-color);
  fill: var(--primary-white-color)
}
.read-btn:disabled {
  background-color: var(--gray-text-color);
}
.arrow-icon {
  margin-left: 4px;
}

.data-list {
  display: block;
}

.advantages-sub-info .data-list::before {
  content: ' ';
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;

  width: 50px;
  height: 50px;

  background-repeat: no-repeat;
  background-position: center;

  background-color: var(--accent);
  border-radius: 50%;
}

.advantages-sub-info .data-list:nth-child(1)::before {
  background-image: url(../images/cow.svg);
}
.advantages-sub-info .data-list:nth-child(2)::before {
  background-image: url(../images/weight.svg);
}
.advantages-sub-info .data-list:nth-child(3)::before {
  background-image: url(../images/ice-crema.svg);
}

.p-digit-data {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;

  text-align: center;
  text-transform: uppercase;
}

.p-desc {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  text-align: center;
}

.p-desc-last {
  margin-bottom: 0;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) and (min-width: 280px) {
  .imgs {
    background-image: url('../images/cow/cow-mobile@2x-min.png');
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .advantages-container {
    width: 704px;
    margin: 0 auto;
    padding: 60px 32px 57px;
  }

  .advantages-lable {
    margin: 0 auto;
    margin-bottom: 12px;

    font-weight: 800;
    font-size: 22px;
    line-height: 1.22;
  }

  .advantages-title {
    width: 455px;

    margin: 0 auto;
    margin-bottom: 72px;

    font-weight: 400;
    font-size: 34px;
    line-height: 1.26;

    text-align: center;
    text-transform: uppercase;
  }

  .adv-container {
    display: flex;
  }

  .circle {
    width: 330px;
    height: 330px;
  }

  .imgs {
    width: 330px;
    height: 330px;

    top: 26px;
  }

  .img-container {
    margin-right: 38px;
  }

  .desc-container {
    width: 336px;
  }

  .desc-item {
    width: 336px;
    margin-bottom: 8px;

    text-align: start;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.58;
  }

  .last-item {
    margin-bottom: 32px;
  }

  .read-btn {
    margin: 0;
  }

  .advantages-sub-info {
    display: flex;
    justify-content: space-between;

    width: 616px;

    margin: 0 auto;
  }

  .data-list {
    width: 152px;
  }

  .p-digit-data {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.22;

    margin-bottom: 12px;
  }

  .p-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
  }

  .advantages-sub-info .data-list::before {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-container {
    width: 1168px;
    margin: 0 auto;
    padding: 60px 16px 80px;
  }

  .advantages-lable {
    margin-bottom: 12px;

    font-size: 30px;
    line-height: 1.23;
  }

  .advantages-title {
    width: 481px;

    margin: 0 auto;
    margin-bottom: 82px;

    font-size: 36px;
    line-height: 1.25;
  }
  .circle {
    width: 490px;
    height: 490px;
    margin-bottom: 99px;
  }

  .imgs {
    width: 490px;
    height: 490px;

    top: 39px;
  }

  .img-container {
    margin-right: 109px;
  }

  .desc-container {
    width: 463px;
  }

  .desc-item {
    width: 463px;
    margin-bottom: 8px;

    font-size: 14px;
    line-height: 1.92;
  }

  .last-item {
    margin-bottom: 54px;
  }

  .desc-item-first {
    margin-top: 90px;
    font-size: 16px;
    line-height: 1.72;
  }

  .advantages-sub-info {
    width: 1168px;
  }

  .data-list {
    width: 368px;
  }

  .p-digit-data {
    font-size: 58px;
  }

  .p-desc {
    font-size: 16px;
    line-height: 1.75;
  }

  .advantages-sub-info .data-list::before {
    margin-bottom: 40px;
  }
}

/* Modal Read More */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 0;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 280px;
  padding: 28px;

  background-color: #fcfcfc;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  transform: translateX(-50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 20px;
  height: 20px;

  background-color: #fcfcfc;
  border: none;
}

.close-icon {
  width: 12px;
  height: 12px;
}

.title {
  margin: 0;
  margin-bottom: 20px;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.video {
  background-color: #131313;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 224px;
  border: none;
}

.discription {
  margin: 0;
  width: 224px;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 568px;
    padding: 32px 60px;
  }

  .title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.4;
  }

  .video {
    width: 448px;
    height: 205px;
    margin-bottom: 32px;
  }

  .discription {
    width: 448px;
    font-size: 16px;
  }
}
