/*------- Mobile First 320 px-------*/
.footer-container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
}
/* Titles */
.footer-title{
    margin-bottom: 16px;

    width: 232px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0;
    text-transform: uppercase;
}
.footer-tagline{
    margin-bottom: 60px;

    width: 200px;

    font-weight: 700;
    font-size: 34px;
    line-height: 1.206;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
/* Social media */
.footer-social{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: 20px;
}
.footer-item-logo:not(:last-child){
    margin-right: 20px;
}
.footer-item-logo:hover,
.footer-item-logo:focus{
    -webkit-animation: rotate-scale-up 0.4s linear both;
    animation: rotate-scale-up 0.4s linear both;
}
@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
.footer-link-logo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height:34px;
    border-radius: 50%;

    background-color: var(--accent);
    fill: var(--background);

    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-logo:hover,
.footer-link-logo:focus{
    fill: var(--white-text-color);
}
/* Telephone */
.footer-telephone{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: 40px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0;
}
.footer-telephone-text{

    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;

    color: var(--black-text-color);
}
.footer-telephone-link{
    color: var(--white-text-color);
}
/* Copyright */
.footer-copyright{
    display: flex;
    flex-direction: column;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;

    color: var(--copyright);

    border-top: 1px solid var(--line-color);
}
.footer-underline{
    display: flex;
    justify-content: center;

    margin-top: 20px;
}
.footer-underline-auth{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/*------- Mobile 480 px -------*/
@media screen and (min-width:480px){
    .footer-container{
        width: 440px;
    }
    .footer-underline-auth{
    margin-bottom: 24px;
    }
}
/*------- Tablet 768 px -------*/
@media screen and (min-width:768px){
    .footer-container{
        padding-left: 32px;
        padding-right: 32px;
        width: 704px;
    }
    .footer-main{
        display: flex;
        justify-content: space-between;
    }
    /* Titles */
    .footer-titles {
        display: flex;
        flex-direction: column;
    }
    .footer-title{
        margin-bottom: 8px;
    
        width: 352px;
    
        font-size: 26px;
        line-height: 1.231;
        letter-spacing: 0.04;
    }
    .footer-tagline{
        margin-bottom: 32px;
    
        width: 352px;
    
        font-size: 48px;
        line-height: 1.229;
        letter-spacing: 0.06em;
    }
    /* Contacts */
    .footer-contact{
        display: flex;
        flex-direction: column;
    }
    /* Social media */
    .footer-social{
        margin-top: 62px;
        margin-bottom: 34px;
    }
    .footer-item-logo:not(:last-child){
        margin-right: 30px;
    }
    /* Telephone */
    .footer-telephone{
        font-size: 14px;  
    }
    /* Copyright */
    .footer-copyright{
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin-bottom: 12px;

        line-height: 1.86;
        letter-spacing: 0.02em;
    }
    .footer-underline{
        margin-top: 12px;
        margin-right: 5px;
    }
    .footer-underline-auth{
        margin-top: 12px;
        margin-bottom: 0px;
    }
}
/*------- Desktop 1200 px -------*/
@media screen and (min-width:1200px){
    .footer-container{
        padding-left: 16px;
        padding-right: 16px;
        width: 1168px; 
    }
    /* Titles */
    .footer-title{
        margin-bottom: 14px;
    
        width: 504px;
        
        font-weight: 400;
        font-size: 30px;
        line-height: 1.233;
    }
    .footer-tagline{
        margin-bottom: 60px;
    
        width: 100%;
    
        font-size: 58px;
        line-height: 1.224;
    }
    /* Contacts */
    /* Social media */
    .footer-social{
        margin-top: 18px;
        margin-bottom: 40px;
    }
    /* Telephone */
    .footer-telephone{
        font-size: 16px;
        letter-spacing: 0.02em;
    }
    /* Copyright */
    .footer-copyright{
        border-top: 0;
    }
    .container-copyright{
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;

        width: 1168px;

        border-top: 1px solid var(--line-color);
    }
}
