.container-header {
  display: flex;
  justify-content: space-between;

  width: 280px;
  padding: 12px 0 0 20px;
}

.site-logo {
  fill: var(--accent);
}

.header-svg-logo {
  width: 18px;
  height: 37px;
}

.header-logo {
  position: relative;
}

.logo-text {
  position: absolute;
  bottom: 1px;
  left: 15px;

  display: inline-block;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.1em;

  text-shadow: #f8d24e 1.2px 0 0px, #f8d24e 0 1.2px 0px, #f8d24e -1.2px 0 0px,
    #f8d24e 0 -1.2px 0px;
  color: var(--background);
}


.burger-btn {
  border: transparent;
  background-color: var(--background);
}

.icon-burger,
.close-menu-icon {
  fill: var(--primary-white-color);
}

.mobile-menu {
  display: block;
  /* padding: 12px 32px 64px; */
  width: 100%;
  height: 100%;
  margin: auto;

  position: fixed;
  left: 0;
  top: 0;

  z-index: 6;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;

  background-color: var(--background);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: painted;
}

.menu-logo {
  fill: var(--accent);
  margin-bottom: 51px;
  display: flex;
  justify-content: space-between;
}

.close-button-menu {

  display: block;
  padding: 0;

  border: transparent;
  background-color: var(--background);
}

.header-list > .nav-item + .nav-item {
  margin-top: 32px;
}

.header-list .link {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.21;
  color: var(--white-text-color);
}

.header-btn {
  display: flex;
  align-items: center;

  margin: 0 auto;
  margin-top: 110px;
  padding: 12px 35px;

  background-color: var(--accent);
  border: transparent;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
}

.header-decoration-btn {
  margin-left: 4px;
}

.header-btn-tablet {
  display: none;
}

.header-list {
  letter-spacing: 0;
}

.header-title {
  width: 257px;
  margin-left: auto;
  margin-right: auto;
}

.header-mobile-menu {
  padding: 12px 32px 64px;
}



@media screen and (min-width: 480px) {
  .logo-text {  
    font-size: 17;
    line-height: 1.29;

    bottom: 1px;
    left: 17px;
  }

  .header-svg-logo {
    width: 22px;
    height: 44px;
  }

  .menu-logo {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header-btn{
    display: none;
  }

  .header-title {
    width: 385px;
  }

  .header-list .link {
    font-size: 48px;
    line-height: 1.22;
  }

  .header-list > .nav-item + .nav-item {
    margin-top: 40px;
  }
  
  .menu-logo {
    margin-bottom: 76px;
  }

  .header-btn-tablet {
    display: block;
  }

  .header-btn-tablet {

    display: flex;
    align-items: center;
  
    padding: 12px 35px;
  
    background-color: var(--accent);
    border: transparent;
  
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
  }

  .container-header {
    width: 704px;
    padding: 20px 32px 0;

    justify-content: space-between;
    margin: 0 auto;
  }

  .header-buttons {
    width: 216px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .logo-text {  
    font-size: 21;
    line-height: 1.28;

    bottom: 1px;
    left: 21px;
  }

  .header-svg-logo {
    width: 27px;
    height: 55px;
  }
}
/* жека хуй */


